.content-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-block {
    margin-top: 100px;
    width: 70%;
    border-radius: 15px;
    border: 2px solid #000;
}



