@import './variables.scss';

#side-bar {
    width: 300px;
    height: 100%;
    background-color: $secondary-color;
    border-radius: 13px 0 0 13px;
    display: flex;
    flex-direction: column;
}

header {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    #logout-button {
        float: right;
        background-color:  $secondary-color;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 5px;
        cursor: pointer;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.search {
    text-align: center;
    input {
        border-radius: 8px;
        border: none;
        height: 20px;
        width: 60%;
        padding-left: 8px;
    }
    input:focus {
        outline: none;
    }
}

.chats::-webkit-scrollbar {
    width: 6px;
}
.chats::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
}

.chats {

    margin-top: 15px;
    color: white;
    overflow-y: auto;
    flex-grow: 1;

    .chat {

        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        .add-friend {
            margin-left: 10px;
            border-radius: 10px;
            background-color: #fff;
            border: none;
            width: 20px;
            height: 20px;
        }
    }
    .active {
        background-color: rgba(255, 255, 255, 0.2);
    }

}
